/* NINTH EXAMPLE*/
.menuListBlock{
    margin-left: 160px;
    height: 240px;
    width: 350px;
    margin-top: 70px;
    background-color: rgba(220,220,230,0.1);
    border: 2px solid rgba(0,0,0,1);
}

.view-ninth .mask-1, .view-ninth .mask-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 361px;
    width: 361px;
    background: rgba(100, 136, 176, 0.5);
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.2s ease-in-out 0.1s;
}
.view-ninth .mask-1 {
    left: auto;
    right: 0;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}
.view-ninth .mask-2 {
    top: auto;
    bottom: 0;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}
.view-ninth .content {
    background: rgba(0, 0, 0, 0.7);
    height: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 361px;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px, 166px);
    transform-origin: 0% 100%;
    transition: all 0.2s ease-in-out 0.1s;
}
.view-ninth h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}
.view-ninth a.info {
    display: none;
}
.view-ninth:hover .content {
    height: 120px;
    width: 300px;
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 40px;
    transform: rotate(0deg) translate(0, 0);
}
.view-ninth:hover .mask-1, .view-ninth:hover .mask-2 {
    transition-delay: 0.2s;
}
.view-ninth:hover .mask-1 {
    transform: rotate(56.5deg) translateX(1px);
}
.view-ninth:hover .mask-2 {
    transform: rotate(56.5deg) translateX(-1px);
}
.view-ninth:hover img {
    transition: 0.2s;
    transform: scale(1.2,1.2);
}